@import '../../common/stylesConst.scss';

.modal {
    height: 100vh;
    width: 100vw;
    background: $color_backgrond_modal;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
    &.active {
        opacity: 1;
        pointer-events: all;
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    gap: 24px;

    max-width: 692px;
    min-height: 706px;

    background: $color_white;
    box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1),
        0px 10px 10px -5px rgba(0, 0, 0, 0.04);
    border-radius: 8px;

    order: 0;

    transform: scale(0.5);
    transition: 0.4s all;
    &.active {
        transform: scale(1);
    }
    @media (max-width: 767px) {
        max-width: 492px;
        min-height: 506px;
    }
    @media (max-width: 550px) {
        max-width: 300px;
        min-height: 250px;
    }
}

.img {
    max-height: 400px;
    max-width: 600px;
    object-fit: cover;
    box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
    border-radius: 24px;

    flex: 1;
    order: 0;
    @media (max-width: 767px) {
        max-width: 450px;
        min-height: 300px;
    }
    @media (max-width: 550px) {
        max-width: 300px;
        min-height: 250px;
    }
}

.comments {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: $color_grey700;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0px;
    gap: 6px;
    flex: 1;

    width: 100%;
    height: 20px;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    width: 100%;
    height: 157px;

    flex: 1;
    order: 1;
    align-self: stretch;
}

.field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 100%;
    height: 157px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.fieldContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    width: 644px;
    height: 129px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    @media (max-width: 767px) {
        width: 450px;
    }
    @media (max-width: 550px) {
        width: 300px;
    }
}

.label {
    width: 66px;
    height: 20px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: $color_grey700;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.input {
    width: 100%;
}

.textArea {
    box-sizing: border-box;
    width: 100%;
    height: 105px;
    overflow: auto;

    background: $color_white;
    border: 1px solid $color_beige;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 17px;
    cursor: pointer;

    width: 67px;
    height: 38px;

    background: $color_violet;
    border-color: $color_violet;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;

    flex: none;
    order: 2;
    flex-grow: 0;
    &.disabled {
        background: $color_grey500;
        border-color: $color_grey500;
    }
}

.btnText {
    width: 33px;
    height: 20px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: $color_white;

    flex: none;
    order: 0;
    flex-grow: 0;
}
