@import '../../common/stylesConst.scss';

.homePage {
    background: $color_backgrond;
    max-width: $max_width_container;
    padding: 15px;
}

.loading {
    width: 100vw;
    height: 100vh;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: $color_grey900;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
